{% extends "layout.html" %}
{% block title %}MiniX - Home{% endblock %}
{% block content %}
    <h1 class="text-center mt-4">Welcome to MiniX</h1>
    <a href="{% url 'tweet_create' %}" class="btn btn-primary mb-3">Create New Tweet</a>

    <div class="contaier row gap-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
 <img src="{{ tweet.photo.url }}"
     class="card-img-top img-fluid"
     style="max-height: 200px; object-fit: cover;"
     alt="...">
  <div class="card-body">
    <h5 class="card-title">{{tweet.user.username}}</h5>
    <p class="card-text">{{tweet.text}}</p>
    {% if tweet.user == user %} 
    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
</div>
        {% endfor %}
    </div> 
{% endblock %}